@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');

html { min-height: 100%; }

body {
    background: rgb(44,66,81);
    background: -moz-linear-gradient(left,  rgba(44,66,81,1) 0%, rgba(27,154,170,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(44,66,81,1) 0%,rgba(27,154,170,1) 100%);
    background: linear-gradient(to right,  rgba(44,66,81,1) 0%,rgba(27,154,170,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c4251', endColorstr='#1b9aaa',GradientType=1 );
    padding-bottom: 40px;
}

h1 {
    padding-top: 10%;
    text-align: center;
    font-weight: 100;
    font-family: 'Yantramanav', sans-serif;
    color: #c1c1c1;
    font-size: 4.5rem;
    border: none !important;
}

.lead {
    color: #c1c1c1;
}

h2, h3, h4 {
    margin: 40px 0 20px 0;
}

.content {
    margin-top: 20px;
    border-top: 10px solid #c1c1c1;
    background-color: rgba(255, 255, 255, 0.8);
    color: #2c4251;
    padding: 40px;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #c1c1c1;
}